<div>
  <div class="container">
    <span class="items"> Parent</span>
    <input class="items" type="text" [(ngModel)]="userName" placeholder="Enter user name here"/>
    <input class="items" type='text' [(ngModel)]='phoneNumber' placeholder='Enter Phone Number Here'/>
    <button class="items">BtnParent</button>
  </div>
  <div>Child Name :<span>{{childName}}</span></div>
  <app-child userNameFromParent={{userName}}
          phoneNumberFromParent ={{phoneNumber}}   
    (nameEvent)="nameEventHandler($event)"></app-child>
</div>